.c{
    display: flex;
    justify-content: center;
}
.card{
    width: 16rem;
    height: 700px;
    margin: 40px;
    border-radius: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 500px;
    background-color: gray;
}
.iklan{
    width: 36rem; 
    margin: 40px;
    border-radius: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.iklan img{
    width: 100%;
    height: 350px;
    background-color: gray;
}
.kategori{
    width: 8rem; 
    height: 300px;
    margin: 40px;
    border-radius: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.kategori img{
    width: 10000;
    height: 200px;
    background-color: gray;
}

.btn-grad {background-image: linear-gradient(to right, #003973 0%, #E5E5BE  51%, #003973  100%)}
.btn-grad {
            margin-left: 60px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
